@{
    // ViewBag.Title = "About Us";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about">
    <div class="container text-center">
        <h2 class="display-4 mb-4">Welcome to Fintech Hub - Secure Bank Connect</h2>
        <p class="lead">
            At Fintech Hub, we revolutionize banking with innovative solutions, prioritizing security and user experience.
            Join us on a journey where technology meets finance, providing a seamless and trustworthy banking experience.
        </p>

        <div class="mt-5">
            <h3 class="mb-4">Our Commitment to Excellence</h3>
            <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at purus sed justo dignissim congue.
                Nullam vel tortor vestibulum, cursus elit a, hendrerit justo. Nulla facilisi. Vivamus a metus nec nunc
                facilisis iaculis.
            </p>
            <p class="text-muted">
                Fusce at mauris vel libero sagittis suscipit vitae id elit. Vestibulum cursus tincidunt eros,
                nec volutpat libero volutpat eu. Nulla facilisi. In hac habitasse platea dictumst. Proin tristique
                ligula vitae tellus semper, in luctus mauris rhoncus. Integer aliquam, libero sit amet scelerisque
                suscipit, turpis felis facilisis dolor, id aliquam nisl libero vel dolor.
            </p>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <img src="~/images/mem1.jpg" class="img-fluid rounded-circle shadow" alt="Image 1">
            </div>
            <div class="col-md-4">
                <img src="~/images/mem2.jpg " class="img-fluid rounded-circle shadow" alt="Image 2">
            </div>
            <div class="col-md-4">
                <img src="~/images/mem3.jpg" class="img-fluid rounded-circle shadow" alt="Image 3">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <img src="~/images/mem4.png" class="img-fluid rounded-circle shadow" alt="Image 4">
            </div>
            <div class="col-md-6 offset-md-3 mt-4">
                <img src="~/images/mem5.jpg" class="img-fluid rounded-circle shadow" alt="Image 5">
            </div>
        </div>

        <div class="mt-5">
            <p class="lead">
                Ready to explore the future of banking with Fintech Hub? Join us and experience banking like never before.
            </p>
            <button class="btn btn-primary btn-lg">Get Started</button>
        </div>
    </div>
</section>
