
<!--
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

-->

@{
    ViewData["Title"] = "Home Page";

   
   
}


<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Fintech Hub - Secure Bank Connect</h1>
    <p class="lead">Transforming the future of banking with cutting-edge technology.</p>
    <hr class="my-4">
    <p>Join us and experience secure, efficient, and user-friendly financial solutions.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="~/images/img1.jpg" class="card-img-top" alt="Card Image 1">
            <div class="card-body">
                <h5 class="card-title">GOVERNMENT SALARY ACCOUNT</h5>
                <p class="card-text">
                    At Fintech Hub, we believe in offering a customized banking experience to our customers. Presenting Government Salary Account, a specialized savings account designed to cater to the needs of all government sector employees.

                    Enjoy the convenience of instant salary credits with no minimum balance requirement. Take charge of your funds with unlimited transactions with digital banking availability and our nationwide ATMs. The Government Salary Account ensures that you get an unparalleled banking experience both online and offline.

                   
                </p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4">
            <img src="~/images/img2.jpg" class="card-img-top" alt="Card Image 2">
            <div class="card-body">
                <h5 class="card-title">Digital Kisan Credit Card (KCC</h5>
                <p class="card-text">
                    Agriculture is the primary sector of our Indian economy. 
                    Almost two-thirds of the total work force earns their livelihood through farming and other allied activities.
                    Credit to Agriculture is significantly linked to inclusive economic growth. At present, the process for getting Agricultural Crop loan requires customer to visit a bank branch in person along with the proof of land ownership and other documents.
                    The Turn Around Time (TAT) from loan application to disbursement has been rather high, ranging from one to two weeks.
                </p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4">
            <img src="~/images/img3.jpg" class="card-img-top" alt="Card Image 3">
            <div class="card-body">
                <h5 class="card-title"> STAR HOME LOAN</h5>
                <p class="card-text">
                    If you have a dream home in mind, we have just the right finance for it. Star Home Loan offers hassle-free finance to ease up your home-buying journey. With attractive home loan interest rates and minimal paperwork, we make sure you get the best deal in the financial market.
                    We offer dedicated support for a seamless home loan process which further extends throughout the repayment period.
                </p>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/img4.jpg" class="d-block w-100" alt="Slide Image 1">
        </div><img src="~/images/img2.jpg" />
        <div class="carousel-item">
            <img src="~/images/img5.jpg" class="d-block w-100" alt="Slide Image 2">
        </div>
        <div class="carousel-item">
            <img src="~/images/img6.jpg" class="d-block w-100" alt="Slide Image 3">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>
                Learn more about our company and what we do. <a href="/Home/AboutUs">Read more...</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Contact Us</h2>
            <p>
                Have questions or want to get in touch? <a href="/Home/ContactUs">Contact us...</a>
            </p>
        </div>
    </div>
</div>
-->
